<!--OpenCatapultModelId:3-->
@model SampleDevops.Areas.Admin.Models.CustomerViewModel
@{
    ViewData["Title"] = "Edit Customer";
}
<h2>@ViewData["Title"]</h2>
<form method="post" asp-route-id="@ViewData["Id"]">
    <h3>Confirm delete Customer?</h3>
     <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
