@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Home Page</h1>
    <h3>This project has been <span>CATAPULTED</span> by <a href="https://opencatapult.net/" target="_blank">OpenCatapult</a>.</h3>
</div>

<p class="text-center">
    <img class="logo" src="/images/logo.png" />
</p>

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Insert home page content here</h1>
    </div>
</div>
