<!--OpenCatapultModelId:3-->
@model List<SampleDevops.Models.CustomerViewModel>
@{
    ViewData["Title"] = "View Customer";
}
<h2>@ViewData["Title"]</h2>
<div>&nbsp;</div>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
    </tr>
}
</table>
