<!--OpenCatapultModelId:4-->
@model List<SampleDevops.Models.OrderViewModel>
@{
    ViewData["Title"] = "View Order";
}
<h2>@ViewData["Title"]</h2>
<div>&nbsp;</div>
<table class="table">
    <tr>
        <th>Order Date</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.OrderDate</td>
    </tr>
}
</table>
